#name: Publish package to Maven Central Repository
#
#on:
#  release:
#    types: [created]
#
#jobs:
#  publish:
#    runs-on: ubuntu-latest
#
#    steps:
#      - uses: actions/checkout@v5
#
#      - name: Set up JDK 17
#        uses: actions/setup-java@v4
#        with:
#          java-version: '17'
#          distribution: 'temurin'
#          cache: 'maven'
#
#      - name: Set POM version from tag
#        run: |
#          TAG_FULL=${GITHUB_REF#refs/tags/}
#          if [[ "$TAG_FULL" == v* ]]; then
#            VERSION=${TAG_FULL#v}
#            IS_RELEASE=true
#          else
#            VERSION=$TAG_FULL
#            IS_RELEASE=false
#          fi
#          echo "Tag full: $TAG_FULL, Using version: $VERSION, Is release: $IS_RELEASE"
#          sed -i "s|@TAG_VERSION@|${VERSION}|g" pom.xml
#          echo "VERSION=$VERSION" >> $GITHUB_ENV
#          echo "IS_RELEASE=$IS_RELEASE" >> $GITHUB_ENV
#
#      - name: Import GPG key
#        run: |
#          echo "${{ secrets.GPG_PRIVATE_KEY }}" | gpg --batch --import
#          gpg --list-secret-keys --keyid-format LONG
#
#      - name: Configure Maven settings
#        run: |
#          mkdir -p ~/.m2
#          cat > ~/.m2/settings.xml << 'EOF'
#          <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
#                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
#                    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
#                                        http://maven.apache.org/xsd/settings-1.0.0.xsd">
#            <servers>
#              <server>
#                <id>ossrh</id>
#                <username>${env.OSSRH_USERNAME}</username>
#                <password>${env.OSSRH_PASSWORD}</password>
#              </server>
#            </servers>
#            <profiles>
#              <profile>
#                <id>ossrh</id>
#                <activation>
#                  <activeByDefault>true</activeByDefault>
#                </activation>
#                <properties>
#                  <gpg.executable>gpg</gpg.executable>
#                  <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
#                </properties>
#              </profile>
#            </profiles>
#          </settings>
#          EOF
#
#      - name: Build and Deploy to Maven Central (Release)
#        if: env.IS_RELEASE == 'true'
#        run: |
#          mvn --batch-mode clean deploy -P release \
#            -DskipTests \
#            -Dgpg.passphrase="${{ secrets.GPG_PASSPHRASE }}"
#        env:
#          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
#          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
#          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
#
#      - name: Build and Deploy Snapshot
#        if: env.IS_RELEASE == 'false'
#        run: |
#          mvn --batch-mode clean deploy \
#            -DskipTests
#        env:
#          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
#          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
