#name: Java CI / Release
#
#on:
#  push:
#    branches: ["main"]
#    tags: ["v*", "*-SNAPSHOT"]
#  pull_request:
#    branches: ["main"]
#
#env:
#  JAVA_VERSION: 17
#
#jobs:
#  test:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4
#      - name: Set up JDK
#        uses: actions/setup-java@v4
#        with:
#          java-version: ${{ env.JAVA_VERSION }}
#          distribution: temurin
#          cache: maven
#      - name: Run tests
#        run: mvn verify
#
##  release:
##    runs-on: ubuntu-latest
##    needs: test
##    if: startsWith(github.ref, 'refs/tags/')
##    steps:
##      - uses: actions/checkout@v4
##
##      - name: Set up JDK
##        uses: actions/setup-java@v4
##        with:
##          java-version: ${{ env.JAVA_VERSION }}
##          distribution: temurin
##          cache: maven
##
##      - name: Import GPG key
##        env:
##          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
##        run: |
##          echo "$GPG_PRIVATE_KEY" | gpg --batch --import
##
##      - name: Set POM version from tag
##        run: |
##          TAG_FULL=${GITHUB_REF#refs/tags/}
##          if [[ "$TAG_FULL" == v* ]]; then
##            VERSION=${TAG_FULL#v}
##            DEPLOY_REPO=https://s01.oss.sonatype.org/service/local/staging/deploy/maven2/
##          else
##            VERSION=$TAG_FULL
##            DEPLOY_REPO=https://s01.oss.sonatype.org/content/repositories/snapshots/
##          fi
##          echo "Tag full: $TAG_FULL, Using version: $VERSION"
##          sed -i "s|@TAG_VERSION@|${VERSION}|g" pom.xml
##          echo "DEPLOY_REPO=$DEPLOY_REPO" >> $GITHUB_ENV
##
##      - name: Setup Maven settings
##        run: |
##          mkdir -p $HOME/.m2
##          cat > $HOME/.m2/settings.xml <<EOF
##          <settings>
##            <servers>
##              <server>
##                <id>ossrh</id>
##                <username>${{ secrets.OSSRH_USERNAME }}</username>
##                <password>${{ secrets.OSSRH_PASSWORD }}</password>
##              </server>
##            </servers>
##          </settings>
##          EOF
##
##      - name: Deploy to Maven Central
##        env:
##          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
##        run: |
##          mvn clean deploy -B -P release \
##              -Dgpg.passphrase="${GPG_PASSPHRASE}" \
##              -DaltDeploymentRepository=
